//- src/views/roles/crear.pug
extends ../layout

block content
  h1= titulo
  form(action='/roles/crear', method='POST')
    label(for='nombre') Nombre:
    input(type='text', name='nombre', id='nombre', required)
    
    label(for='area') Area:
    select(name='area', id='area', required)
      option(value='') Sin Area
      each area in areas
        option(value=area._id)= area.nombre

    button(type='submit') Crear Rol
    a.btn.btn-primary.volver(href='/roles') Volver a Roles

