//- src/views/usuarios/crear.pug
extends ../layout

block content
  h1= titulo
  form(action='/usuarios/crear', method='POST')
    label(for='nombre') Nombre:
    input(type='text', name='nombre', id='nombre', required)
    
    label(for='email') Email:
    input(type='email', name='email', id='email', required)
    
    label(for='contraseña') Contraseña:
    input(type='password', name='contraseña', id='contraseña', required)
    
    label(for='rol') Rol:
    select(name='rol', id='rol')
      option(value='empleado') Empleado
      option(value='administrador') Administrador
    
    label(for='departamento') Departamento:
    select(name='departamento', id='departamento', required)
      option(value='Compras') Compras
      option(value='Ventas') Ventas
      option(value='Produccion') Producción
      option(value='Inventario') Inventario
    
    button(type='submit') Crear Usuario
